# requirements.txt
typer
langchain
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pytest
rich
alembic
transformers
accelerate
torch
# pysqlcipher3  # Removed as part of Issue #41 - moving away from db-level encryption
vobject
requests
